/* Some basic stuff to include in all the GDI themes */

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

.reveal {
  footer {
    position: fixed;
    height: 40px;
    width: 100%;
    bottom: 3px;
    left: 0;
    z-index: 10;
    font-size: 35%;
    text-align:right;
    background-image: url($footerImage);
    background-repeat: no-repeat;
    background-size: auto 100%;

    .copyright {
      margin:15px 5px 0 100px;
      a {
	img {
	  vertical-align: middle;
	}
      }
    }
  }

  .left-align {
    text-align: left;
  }

  .right-align {
    text-align: right;
  }

  .left, .pull-left {
    float: left;
  }

  .right, .pull-right {
    float: right;
  }

  .two-col {
    width: 100%;

    .left-col, .right-col {
      width: 47%;
    }

    .left-col {
      float: left;
    }

    .right-col {
      float: right
    }

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  .blue   { color: $blue; }
  .green  { color: $green; }
  .yellow { color: $yellow; }
  .pink   { color: $pink; }
  .red    { color: $red; }

}
