/**
 * GDI Default theme for reveal.js.
 * Vaguely reproduced by tamouse@gmail.com
 *
 * Black gradient background, white text, pink headings
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


$blue:   #01A9B4;
$green:  #92BB44;
$yellow: #EDAB23;
$pink:   #F05B62;
$red:    #8B0036;

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #2b2b2b;

$mainColor: #fff;
$headingColor: $pink;

// GDI Generic Settings

@import "gdi_settings";

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// GDI Stuff -----------------------------------
@import "gdibasics";
